d For MSVC
*.lastcodeanalysissucceeded
*.pdb
*.ilk
*.obj
*.pch
*.log
*.dll
*.rar
*.exe
*.map
*.lib
*.user
*.sdf
*.ncb
*.opensdf
*.suo
*.aps
*.exp
*.qdact
controls.ini
desktop.ini
Debug
Release
Windows/.vs
Windows/x64
Windows/ARM
Windows/ARM64
Windows/ipch
Windows/bin-release
Windows/win-version.h
Windows/win-version-*.tmp
android/assets
ext/_Output
android/lint.xml
PPSSPPWindows64.exe.manifest
PPSSPPWindows.exe.manifest
PPSSPPWindowsARM64.exe.manifest
PPSSPPWindowsARM.exe.manifest
PPSSPPDebug64.exe.manifest
PPSSPPDebug.exe.manifest
PPSSPPDebugARM64.exe.manifest
PPSSPPDebugARM.exe.manifest
assets/flash0
UWP/icph
UWP/*.ipch
UWP/Content/*
!UWP/Content/.empty
UWP/.vs
.vs
.vscode

# For Mac
.DS_Store
PPSSPPSDL.app
include/glslang/build_info.h

# For ppsspp.ini, etc.
ppsspp.ini
PPSSPPControls.dat

# Qt Linguist files
*.qm

# Gradle/Android Studio
.gradle
.idea
