 For MSVC
*.lastcodeanalysissucceeded
*.pdb
*.ilk
*.obj
*.pch
*.log
*.dll
*.rar
*.exe
*.map
*.lib
*.user
*.sdf
*.ncb
*.opensdf
*.suo
*.aps
*.exp
*.qdact
controls.ini
desktop.ini
Debug
Release
Windows/.vs
Windows/x64
Windows/ARM
Windows/ARM64
Windows/ipch
Windows/bin-release
Windows/win-version.h
Windows/win-version-*.tmp
android/assets
